@using System.Web.Optimization
@{
    Layout = null;
}


<section class="content-header">
    <div class="row">
        <div class="col-lg-8">
        <a href="javascript:window.history.back();" class="back-button big"></a>     
        <h1 class="text-red" style="font-size:36px;margin-left:80px; margin-top:45px">Access Denied!
        
        </h1>
        </div>
        </div>
</section>
<section class="content">
    <div class="row">
          
	<div class="col-md-12 column ui-sortable">            
    <p>You are not authorized to access this page. Please <a href="javascript:void(0);" onclick="location.href='/account/signout'">login </a>with appropriate credentials.</p>
        </div>
        </div>
    </section>


