@using System.Web.Optimization
@{
    Layout = null;
}


<section class="content-header">
    <div class="row">
        <div class="col-lg-8">
        <a href="javascript:window.history.back();" class="back-button big"></a>     
        <h1 style="font-size:36px;margin-left:80px; margin-top:45px">Contact Us
        
        </h1>
        </div>
        </div>
</section>

<section class="content">
    <div class="row">
          
	<div class="col-md-12 column ui-sortable">
		<div class="view">
			<h3><strong>iRecruit Team</strong></h3>
            <address>
              <a href="mailto:#">irecruit@space.com</a><br>
              <abbr title="Phone Support Team" class="initialism">Technical:</abbr> +91 90321 00477 <br><br>
            </address>

        </div>
	</div>
    </div>
</section>
